<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.com.lcbm" >


    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:protectionLevel="signature"
                android:name="kr.com.lcbm.permission.C2D_MESSAGE" />
    <uses-permission android:name="kr.com.lcbm.permission.C2D_MESSAGE" />

    <!-- google map v2를 사용하기 위한 코드 시작 -->
    <permission
        android:name="kr.com.lcbm.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kr.com.lcbm.permission.MAPS_RECEIVE" />
    <uses-permission android:name="kr.com.lcbm.fragment.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- google map v2를 사용하기 위한 코드 끝 -->



    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:name=".lcbmApplication"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBoLbgPx1vEpOjL--FtarHx5VAL_puwywI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CustomWebViewActivity"
            android:screenOrientation="portrait"
           >
        </activity>

        <activity
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name=".RegisActivity"
            android:screenOrientation="portrait"
           >
        </activity>

        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".ListActivity"
            android:screenOrientation="portrait"

             >
        </activity>
        <activity
            android:name=".ViewActivity"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name=".EventViewActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".CaseActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".PopupImageViewActivity"  android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".CaseViewActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Alert"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" >
        </activity>
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.kr.gameleague" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <!-- [START gcm_listener] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- [START instanceId_listener] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>
